- content_for :title do
  新しい仕入先を登録

- content_for :breadcrumb do
  %li
    =link_to :root do
      ホーム
  %li.separator
    %i.icon-angle-right
  %li
    =link_to supplires_path do
      仕入先情報
  %li.separator
    %i.icon-angle-right
  %li.active
    新しい仕入先を登録

.col-sm-12
  = render 'form'