- content_for :title do
  新しい取引先を登録（確認）

- content_for :breadcrumb do
  %li
    =link_to :root do
      ホーム
  %li.separator
    %i.icon-angle-right
  %li
    =link_to clients_path do
      取引先情報
  %li.separator
    %i.icon-angle-right
  %li.active
    新しい取引先を登録（確認）

= render 'confirm'
