- content_for :title do
  新しい商品を登録

- content_for :breadcrumb do
  %li
    =link_to :root do
      ホーム
  %li.separator
    %i.icon-angle-right
  %li
    =link_to products_path do
      商品情報
  %li.separator
    %i.icon-angle-right
  %li.active
    新しい商品を登録

.col-sm-12
  = render 'form'

