%header
  %nav.navbar.navbar-default
    / application logo
    = link_to 'オオクラ販売管理システム', clients_path, class: 'navbar-brand'
    / main nav toggler (show/hide)
    %a.toggle-nav.btn.pull-left{href: "#"}
      %i.icon-reorder
